<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chat</title>
    <link rel="stylesheet" href="/style_new.css">
</head>
<body>
    <h3>Create new chat...</h3>
    <form method="POST" action="/chats">
        <input placeholder="Sender" name="from">
        <br><br>
        <textarea name="msg" placeholder="Write Your Message" rows="10px" cols="30px"></textarea>
        <br><br>
        <input placeholder="Reciever" name="to">
        <br><br><br>
        <button>Create New Chat</button>
    </form>
</body>
</html>